src/node-red/flows.json
{
    "id": "pulse_rate_flow",
    "label": "Pulse Rate Monitor",
    "nodes": [
        {
            "id": "serial_in",
            "type": "serial in",
            "z": "pulse_rate_flow",
            "name": "Arduino Serial",
            "serial": "COM3",
            "x": 100,
            "y": 100,
            "wires": [["process_data"]]
        },
        {
            "id": "process_data",
            "type": "function",
            "z": "pulse_rate_flow",
            "name": "Process Pulse Data",
            "func": "const data = msg.payload.split(',');\nif (data.length === 2) {\n    const ir = parseInt(data[0]);\n    const red = parseInt(data[1]);\n    \n    // Simple pulse rate calculation based on IR value\n    const pulseRate = calculatePulseRate(ir);\n    \n    msg.payload = {\n        value: pulseRate,\n        ir: ir,\n        red: red,\n        timestamp: new Date().getTime()\n    };\n    return msg;\n}\nreturn null;\n\nfunction calculatePulseRate(ir) {\n    // Basic pulse rate calculation (this is a simplified example)\n    // In real application, you would implement more sophisticated algorithms\n    return Math.round(60 * (ir / 1000));\n}",
            "x": 300,
            "y": 100,
            "wires": [["gauge", "chart", "debug"]]
        },
        {
            "id": "gauge",
            "type": "ui_gauge",
            "z": "pulse_rate_flow",
            "name": "Pulse Rate",
            "group": "Pulse Monitor",
            "order": 0,
            "width": 6,
            "height": 4,
            "gtype": "gage",
            "title": "Current Pulse Rate",
            "label": "BPM",
            "format": "{{value}}",
            "min": 0,
            "max": 200,
            "colors": ["#00b500","#e6e600","#ca3838"],
            "seg1": "60",
            "seg2": "120",
            "x": 500,
            "y": 60,
            "wires": []
        },
        {
            "id": "chart",
            "type": "ui_chart",
            "z": "pulse_rate_flow",
            "name": "Pulse History",
            "group": "Pulse Monitor",
            "order": 1,
            "width": 12,
            "height": 6,
            "label": "Pulse Rate History",
            "chartType": "line",
            "legend": "false",
            "xformat": "HH:mm:ss",
            "interpolate": "linear",
            "nodata": "Waiting for data",
            "dot": false,
            "ymin": "0",
            "ymax": "200",
            "removeOlder": "10",
            "removeOlderPoints": "",
            "removeOlderUnit": "60",
            "cutout": 0,
            "useOneColor": false,
            "colors": ["#1f77b4"],
            "useOldStyle": false,
            "outputs": 1,
            "x": 500,
            "y": 140,
            "wires": [[]]
        },
        {
            "id": "debug",
            "type": "debug",
            "z": "pulse_rate_flow",
            "name": "Debug Output",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 500,
            "y": 220,
            "wires": []
        }
    ]
}